// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// my colors:
$bg-purple: rgb(109, 89, 122);
$bg-pink: rgb(181, 101, 118);
$m-orange: rgb(252, 163, 17);
$m-yellow: rgb(253, 197, 0);
// $m-ored: #FF9052;
$m-ored: rgb(236, 123, 96);
$m-white: rgb(254, 252, 251);
