<div class="cards">

    <% @cocktails.each do |cocktail| %>
      <div class="card-sm">
        <% if cocktail.photo.attached? %>
          <div class="card-sm-top" style="background-image: url('<%= cl_image_path cocktail.photo.key, width: 360, height: 220, crop: :fill %>');"></div>
        <% else %>
          <div class="card-sm-top" style="background-image: none;"></div>
        <% end %>
        <div class="pt-3">
            <%= link_to "#{cocktail.name.capitalize}", cocktail_path(cocktail), class: "card-text text-regular" %>
        </div>
      </div>
    <% end %>

    <div class="card-sm-add">
      <%= link_to "+", new_cocktail_path, class: "add" %>
    </div>

</div>
