<div class="cards">
    <% @cocktails.each do |cocktail| %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
                                        url('<%= cl_image_path cocktail.photo.key, :crop => :fill %>');">
        <%= link_to "#{cocktail.name}", cocktail_path(cocktail), class: "card-text" %>
      </div>
    <% end %>

    <div class="card-category add">
      <%= link_to "+", new_cocktail_path, class: "card-category add" %>
    </div>
</div>
