<div>
  <h1><%= @cocktail.name %></h1>
</div>

<div>
  <p>Doses:</p>
  <ul>
    <% @cocktail.doses.each do |dose| %>
      <li>
        <%= "#{dose.description}: #{dose.ingredient.name}" %>
        <%= link_to "Delete",
            dose_path(dose),
            method: :delete,
            data: { confirm: "Are you sure?"} %>
      </li>
    <% end %>
  </ul>
  <%= link_to "Add dose", new_cocktail_dose_path(@cocktail) %>
</div>
