<div class="navbar navbar-expand-sm navbar-light navbar-lewagon transparent">
  <span>
    <%= link_to "C", cocktails_path, class: "icon" %>
    <%= link_to "The Cocotail Party", cocktails_path, id: "title" %>
  </span>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to "Add New", new_cocktail_path, class: "btn-flat" %>
      </li>
    </ul>
  </div>
</div>
