<div class="head" style="background-image: linear-gradient(rgba(0,0,0,0.05),rgba(0,0,0,0.05)),
                         url('<%= image_path "banner.png" %>');">

  <div class="banner">
    <%= render "shared/navbar" %>
    <div class="container">
      <h1>The cocktail party</h1>
      <p>Enjoy life when we can</p>
    </div>
  </div>
</div>
