<div class="head" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),
                         url('<%= cl_image_path "dt8f4v982wyxdzkn89fy", :crop => :fill %>');">

  <!-- < render "shared/navbar" %> -->
  <div class="banner">
    <div class="container">
      <h1>The cocktail party</h1>
      <p>Enjoy life when we can</p>
    </div>
  </div>
</div>
