<div class="head" style="background-image: linear-gradient(rgba(0,0,0,0.05),rgba(0,0,0,0.05)),
                         url('<%= image_path "banner.png" %>');">

  <div class="banner">
    <div class="container">

    </div>
  </div>
</div>
