.text-black {
  text-decoration: none;
  color: black;
  &:hover {
    text-decoration: none;
    color: black;
  }
}

.text-logo {
  font-family: $nv-logo;
}

.text-option {
  font-family: $nv-option;
}
