.text-black {
  text-decoration: none;
  color: black;
  &:hover {
    text-decoration: none;
    text-shadow: 0px 0px 10px $m-ored;
    color: black;
  }
}

.text-logo {
  font-family: $nv-logo;
}

.text-regular {
  font-family: $nv-option;
}
